<configuration debug="false">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.slime.Encoder" >
            <format class="com.slime.format.Json" />
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="com.slime.Encoder" >
            <format class="com.slime.format.StructuredPlainText" />
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="console" />
        <appender-ref ref="stdout" />
    </root>
</configuration>