<configuration debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="priv.l.logging.example.filter.SampleFilter"/>
        <encoder>
            <pattern>%d{HH:mm:ss.SSSS} [%thread] %logger{36} %-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>